# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

config BOARD_RAK3372
	select SOC_STM32WLE5XX
if BOARD_RAK3372

config WISBLOCK_CORE_BOARD_VENDOR
	string
	default "RAKwireless"

config WISBLOCK_CORE_BOARD_NAME
	string
	default "RAK3372 WisBlock LPWAN Module"

endif # BOARD_RAK3372
