# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

config SHIELD_RAKWIRELESS_RAK19011
	def_bool $(shields_list_contains,rakwireless_rak19011) || \
	         $(shields_list_contains,rakwireless_rak19011_sw1)

config SHIELD_RAKWIRELESS_RAK19011_SW1
	def_bool $(shields_list_contains,rakwireless_rak19011_sw1)
	select SHIELD_RAKWIRELESS_RAK19011
