# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

if SHIELD_RAKWIRELESS_RAK19011

if $(dt_nodelabel_exists,wisblock_sw1)

config INPUT
	default y if !MCUBOOT

endif # $(dt_nodelabel_exists,wisblock_sw1)

endif # SHIELD_RAKWIRELESS_RAK19011