# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

if SHIELD_RAKWIRELESS_RAK19011

endif # SHIELD_RAKWIRELESS_RAK19011

if SHIELD_RAKWIRELESS_RAK19011_SW1

config INPUT
	default y if !MCUBOOT

endif # SHIELD_RAKWIRELESS_RAK19011_SW1
