/*
 * SPDX-License-Identifier: Apache-2.0
 * Copyright (c) 2026 RAKwireless Technology Co., Ltd.
 */

/dts-v1/;
#include <rakwireless/rak4630.dtsi>
#include "rak19026-pinctrl.dtsi"

/ {
        model = "RAK19026 WisMesh Base Board";
	compatible = "rakwireless,rak19026";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,uart-mcumgr = &cdc_acm_uart0;
		zephyr,bt-mon-uart = &cdc_acm_uart0;
		zephyr,bt-c2h-uart = &cdc_acm_uart0;
		zephyr,display = &oled0;
	};

	aliases {
		led0 = &gpio_led1;
		led1 = &gpio_led2;
		sw0 = &gpio_sw1;
		accel = &lis3dh;
		gnss = &u_blox_m8;
	};

	gpio_keys {
		compatible = "gpio-keys";

		gpio_sw1: gpio_sw1 {
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
			label = "SW1";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	fstab {
		compatible = "zephyr,fstab";

		fstab_mtd: fstab-mtd {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/settings";
			partition = <&storage_partition>;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <32>;
			lookahead-size = <32>;
			block-cycles = <512>;
			automount;
		};
	};

	board_vdiv: vdiv {
		compatible = "voltage-divider";
		io-channels = <&adc 3>;
		output-ohms = <1500000>;
		full-ohms = <2500000>;
	};
	
	board_vbat: fuel_gauge {
		compatible = "zephyr,fuel-gauge-composite";
		source-primary = <&board_vdiv>;
		device-chemistry = "lithium-ion-polymer";
		ocv-capacity-table-0 =
			<BATTERY_OCV_CURVE_LITHIUM_ION_POLYMER_DEFAULT>;
	};
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
	current-speed = <115200>;
};

&uart1 {
	status = "okay";
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
	current-speed = <115200>;

	u_blox_m8: u_blox_m8 {
		compatible = "u-blox,m8";
		status = "okay";
	};
};

&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twi";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	lis3dh: lis3dh@18 {
		compatible = "st,lis3dh";
		reg = <0x18>;
		status = "okay";

		irq-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
	};

	oled0: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;

		width = <128>;
		height = <64>;

		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;

		segment-remap;
		com-invdir;

		prechargep = <0x22>;
		ready-time-ms = <10>;

		status = "okay";
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
};

&pdm0 {
	status = "disabled";
	pinctrl-0 = <&pdm0_default>;
	pinctrl-names = "default";
	clock-source = "PCLK32M_HFXO";
};

&adc {
	status = "okay";
        #address-cells = <1>;
	#size-cells = <0>;

        channel@2 {
                reg = <2>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,resolution = <12>;
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;
        };

        channel@3 {
                reg = <3>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,resolution = <12>;
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,input-positive = <NRF_SAADC_AIN3>;
        };

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,resolution = <12>;
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,input-positive = <NRF_SAADC_AIN7>;
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

zephyr_udc0: &usbd {
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		status = "okay";
		compatible = "zephyr,cdc-acm-uart";
	};
};

#include "wisblock.dtsi"
