# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.


config BOARD_RAK3401
	select SOC_NRF52840_QIAA

if BOARD_RAK3401

config WISBLOCK_CORE_BOARD_VENDOR
	string
	default "RAKwireless"

config WISBLOCK_CORE_BOARD_NAME
	string
	default "RAK3401 WisBlock BLE Module"

endif # BOARD_RAK3401