# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

config WISBLOCK_IO_TEST_UART0
	bool "Verify wisblock_uart0 optional bus"
	help
	  Enable build-time verification that wisblock_uart0 exists and is
	  enabled on the target board.

config WISBLOCK_IO_TEST_I2C2
	bool "Verify wisblock_i2c2 optional bus"
	help
	  Enable build-time verification that wisblock_i2c2 exists and is
	  enabled on the target board.

config WISBLOCK_IO_TEST_PDM
	bool "Verify wisblock_pdm optional bus"
	help
	  Enable build-time verification that wisblock_pdm exists and is
	  enabled on the target board.

source "Kconfig.zephyr"
