# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

if SHIELD_RAKWIRELESS_RAK19016

config LED
	default y if !MCUBOOT

config PWM
	default y if !MCUBOOT

config ADC
	default y if !MCUBOOT

config SENSOR
	default y if !MCUBOOT

config FUEL_GAUGE
	default y if !MCUBOOT

config VOLTAGE_DIVIDER
	default y if !MCUBOOT

config FUEL_GAUGE_COMPOSITE
	default y if !MCUBOOT

endif # SHIELD_RAKWIRELESS_RAK19016