# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Shenzhen RAKwireless Technology Co., Ltd.

config BOARD_RAK11722
	select SOC_APOLLO3_BLUE
if BOARD_RAK11722

config WISBLOCK_CORE_BOARD_VENDOR
	string
	default "RAKwireless"

config WISBLOCK_CORE_BOARD_NAME
	string
	default "RAK11722 WisBlock LPWAN Module"

endif # BOARD_RAK11722
